* {font-family: monospace;}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.back-color {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(orange 5%, darkred 70% , rgb(56, 12, 12) );
    position: fixed;
    top:0px;
    left:0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;
    
    &__middle{
        height: 10%;
        width: 100vw;
        background-color: #000;
    }
    
    &__bottom{
        height: 45%;
        width: 100vw;
        background: radial-gradient(#FFF 5%, rgb(189, 186, 186) 70% );
        border-top: 1vh solid rgb(216, 216, 216);
    }
}

.header {
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: -7vh;
    text-align: center;

    &__main-title {
        opacity: 0;
    }

    &__image-pokemon {
        max-height: 12vh;
        width: auto;
    }
}

.gallery {
    height:100vh;
    width:100vw;
    display: flex;
    // display: none;
    // background-color: #000;
    background-color: transparent;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    
    &__pokemon {
        height: 100%;
        width: 80%;
        // margin: 0 10%;
        // margin: 0 0 0 -2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
        z-index: -1;
        // position: absolute;
        // top: 0;
        // left: 114px;
        
        .pokemon {
            height:100%;
            max-width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;
            // margin: 0 20px;
            
            &__button {
                height: 60vh;
                width: 20vw;
                // min-width: 15vw;
                margin-top: 10%;
                display: flex;
                flex-flow: column;
                justify-content: flex-end;
                align-items: center;
                border: none;
                background-color: transparent;
                cursor: pointer;
                padding: 1vw;
                // border-style: solid;
                border-width: 8px;
                // background-color: gainsboro;
                // background-color: #000;
                // outline: 10px solid #000;
                transition-duration: 0.4s;
            }

            &__button:hover {
                background-color: gold;
                border-radius: 5vw;
                width: 30vw;

                .name-box__name {
                    color: #000;
                }
            }
            
            &__image {
                height: 90%;
                width: 90%;
            }
            
            // &__image:hover {
            //     max-height: 100%;
            //     width: auto;
            // }
            &__name-box {
                height: 7vh;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: red;
                border: 1vh solid #000;
                border-radius: 7vh;
                overflow: hidden;
                
                .name-box {
                    &__name {
                        height: 7vh;
                        width: 75%;
                        font-size: 4vh;
                        color: #000;
                        // text-align: center;
                        text-transform: uppercase;
                        // margin-bottom: 8vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    &__id {
                        height: 7.2vh;
                        width: 25%;
                        // margin-left: 10px;
                        font-size: 4vh;
                        // border-radius: 50%;
                        // border: 1.5vh solid #000;
                        background-color: #000;
                        color: yellow;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // text-align: center;
                    }
                }
            }
        }
    }

    &__navigation-button {
        height: 100%;
        width: 10%;
        // background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        .navigation-button {
            height: 15vh;
            width: 15vh;
            border-radius: 1vw;
            border: none;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            cursor: pointer;
            
            &__upLeft-downRigth {
                height: 20%;
                width: 50%;
                background-color: red;
                transform: skewX(40deg);
            }
            
            &__downLeft-upRigth {
                height: 20%;
                width: 50%;
                background-color: red;
                transform: skewX(-40deg);
            }
        }
        
        .navigation-button:hover {
            background-color: goldenrod;
            background-color: red;

            .navigation-button__upLeft-downRigth {
                background-color: orange;
            }
            .navigation-button__downLeft-upRigth {
                background-color: orange;
            }
        }
    }
    
    &__search {
        height: 5vw;
        width: 5vw;
        border-radius: 50%;
        border: 1vh solid #000;
        background-color: darkred;
        position: absolute;
        top: 75vh;
        left: 48.5vw;
        display: flex;
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        .search {
            &__input {
                height: 5vw;
                width: 5vw;
                border: none;
                border-radius: 50%;
                color:indianred;
            }
            
            &__button {
                border: none;
                background-color: transparent;
                color: rgb(231, 219, 44);
            }    
        }
    }
}

.detail {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(65, 9, 9, 0.7);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__box {
        border-radius: 30px;
        background-color: burlywood;
        height: 90vh;
        max-width: 70vw;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-content: center;
        
        overflow: hidden;
        // text-align: center;
    }
    &__info {
        height: 100%;
        width: 50%;
        margin: auto;           
    
            
        .info {
            &__name {
                color: darkred;
                font-size: 4vw;
                text-align: center;
                // font-size: calc(1em + 1vw);
                // line-height: 1em;
                // padding: 1em;
                // margin: 1em;
            }
    
            &__types {                
                text-align: center;            
            }
            
            &__abilities {
                text-align: center;            
            }
        }
    
        h3 {text-align: center;}
                    
    
    }
    
    &__sprites {
        height: 100%;
        width: 50%;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        
        .sprites {
            
            &__artwork {
                height: 75%;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                
                background-image: repeating-linear-gradient(90deg, transparent, transparent 50px,
                rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px,
                rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px,
                rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px),
                repeating-linear-gradient(0deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px,
                rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px,
                rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px,
                rgba(255, 206, 0, 0.25) 166px),
                repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
                rgba(143, 77, 63, 0.25) 10px),
                repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
                rgba(143, 77, 63, 0.25) 10px);
                
                .artwork__image {
                    max-height: 90%;
                    max-width: 90%;
                    display: block;
                    margin: auto;
                }
            }
            
            &__versions {
                width: 100%;
                height: 25%;
                background-image: repeating-linear-gradient( green, green 0.1vh, transparent 1vh, transparent 2vh),
                    repeating-linear-gradient(90deg, green, green 0.1vh, transparent 1vh, transparent 2vh),
                    repeating-linear-gradient(rgb(24, 24, 26), rgb(24, 24, 26) 5%);
                display: flex;
                flex-direction: row;
                justify-content: space-around; 
                align-items: center;
                
                .versions__image {
                    max-height: 100%;
                    width: 33.33%;
                    padding: 2%;     
                }
            }
        }
    }
}

    

