* {font-family: 'Audiowide';}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.background {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(orange 5%, darkred 70% , rgb(56, 12, 12) );
    position: fixed;
    top:0px;
    left:0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;
    
    &__middle{
        height: 7vw;
        width: 100vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        z-index: -2;
        animation: middle-move 6s ease 0s infinite normal none;
    }
    
    &__bottom{
        height: 44vh;
        width: 100vw;
        background: radial-gradient(#FFF 5%, rgb(189, 186, 186) 70% );
        border-top: 1vh solid rgb(216, 216, 216);
        animation: bottom-move 6s ease 0s infinite normal none;
    }
    
    &__circle-box {
        height:80vmin;
        width:80vmin;
        border-radius: 50%;
        background-color: #000;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        animation: circle-box-move 6s ease 0s infinite normal none;
    }
    
    &__inner-circle {
        height: 30vmin;
        width: 30vmin;
        border-radius: 50%;
        border: 0.5vh solid rgb(233, 233, 233);
        box-shadow:  1vh 1vh 10px 4px rgb(189, 186, 186);
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        z-index: 2;
        animation: inner-circle-move 6s ease 0s infinite normal none;
        
    }
    
    &__outer-circle {
        box-shadow:  inset 1vh 1vh 5px 4px rgb(189, 186, 186);
        border: 0.5vh solid #000;
        height: 60vmin;
        width: 60vmin;
        border-radius: 50%;
        background-color: rgb(219, 219, 219);
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        cursor: pointer;
        z-index: 2;
        animation: outer-circle-move 6s ease 0s infinite normal none;
        
        &:hover {
            box-shadow:  inset 1vh 1vh 1vh 0 rgba(255, 0, 0, 0.527);
            background-color: rgb(255, 166, 0);
            
            .background__hover-text p {
                color: blue;
            }
            
            .background__inner-circle {
                border: 0.5vh solid rgba(255, 0, 0, 0.521);
                box-shadow: 1vh 1vh 1vh 0 rgba(255, 0, 0, 0.452);
                
            }
            .background__middle {
                background-color: yellow;
            }
            
            .background__circle-box {
                background-color: yellow;
            }
        }
    }
    
    &__hover-text {
        height: 30vmin;
        width: 30vmin;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        
        p {
            padding-top: 7vmin;
            height: 20vmin;
            width: 20vmin;
            animation: text-move 6s ease 0s infinite normal none;
            font-size: 5.5vh;
            margin: auto;
            color:transparent;
        }

    }

        
    @keyframes middle-move {
        80% {height: 7vw}
        85% {height: 9vw}
        90% {height: 7vw}
        95% {height: 9vw}
        100% {height: 7vw}
    } 
    
    @keyframes bottom-move {
        80% {height: 44vh}
        85% {height: 42vh}
        90% {height: 44vh}
        95% {height: 42vh}
        100% {height: 44vh}
    } 
    
    @keyframes circle-box-move {
        80% {height: 80vh; width: 80vh;}
        83% {height: 88vh; width: 88vh;}
        90% {height: 80vh; width: 80vh;}
        93% {height: 88vh; width: 88vh;}
        100% {height: 80vh; width: 80vh;}
    } 
    
    @keyframes inner-circle-move {
        80% {height: 30vmin; width: 30vmin;}
        82% {height: 45vmin; width: 45vmin;}
        90% {height: 30vmin; width: 30vmin;}
        92% {height: 45vmin; width: 45vmin;}
        100% {height: 30vmin; width: 30vmin;}
    } 
    
    @keyframes outer-circle-move {
        80% {height: 60vmin; width: 60vmin;}
        83% {height: 70vmin; width: 70vmin;}
        90% {height: 60vmin; width: 60vmin;}
        93% {height: 70vmin; width: 70vmin;}
        100% {height: 60vmin; width: 60vmin;}
    }
    
    @keyframes text-move {
        80% {font-size: 5.5vh;}
        82% {font-size: 7.5vh;}
        90% {font-size: 5.5vh;}
        92% {font-size: 7.5vh;}
        100% {font-size: 5.5vh;}
    }
}

.header {
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: -7vh;
    text-align: center;
    
    &__main-title {
        opacity: 0;
    }
    
    &__image-pokemon {
        max-height: auto;
        width: 28vw;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 0)
    }
}

.gallery {
    height:100vh;
    width:100vw;
    display: flex;
    display: none;
    // background-color: #000;
    background-color: transparent;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    
    &__pokemon {
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
        z-index: -1;
                            
        .pokemon {
            height:100%;
            max-width: 18%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;
            
            &__button {
                height: 60vh;
                width: 18vw;
                margin-top: 10%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                border: none;
                background-color: transparent;
                cursor: pointer;
                padding: 1vw;
                border-width: 8px;
                transition-duration: 0.4s;
                border-radius: 5vw;
                
                &:hover {
                    background-color: gold;
                    border-radius: 5vw;
                    width: 23vw;
                
                    .pokemon__name-box {
                        width: 80%;
                    }
                    
                    .name-box__name {
                        color: #000;
                    }
                }
            }
         
            &__image {
                width: 30vh;
                max-height: auto;
                padding:10%;
            }

            &__name-box {
                height: 7vh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 7vh;
                overflow: hidden;
                background-color: transparent;
                transition-duration: 0.4s;

                .name-box {

                    &__name {
                        height: 7.2vh;
                        width: 75%;
                        font-size: 3vmin;
                        color: #000;
                        text-transform: uppercase;
                        background-color: red;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &__id {
                        height: 7.2vh;
                        width: 25%;
                        font-size: 3vmin;
                        background-color: #000;
                        color: yellow;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    &__navigation-button {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        .navigation-button {
            height: 15vh;
            width: 15vh;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            cursor: pointer;
            transition: 0.6s;
            
            &__upLeft-downRigth {
                height: 20%;
                width: 50%;
                background-color: red;
                transition: 0.4s;
                transform: skewX(40deg);
            }
            
            &__downLeft-upRigth {
                height: 20%;
                width: 50%;
                background: red;
                background: repeating-linear-gradient(90deg, red, red 20%, yellow 33.3% );
                transform: skewX(-40deg);
                transition: 0.4s;

            }
        }
        
        .navigation-button:hover {
            // background-color: goldenrod;
            background-color: red;
            
            .navigation-button__upLeft-downRigth {
                animation: mymove infinite;
                animation-duration: 3s;
                
                background-color: orange;
            }
            @keyframes mymove {
                0% {background: repeating-linear-gradient(90deg, red, red 33.33%, yellow 33.3%,yellow 33.3 );}
                50% {background: repeating-linear-gradient(90deg, yellow, yellow 33.33%, red 33.3%,yellow 33.3 );}    
                100% {background: repeating-linear-gradient(90deg, yellow, yellow 33.33%, yellow 33.3%,red 33.3 );}    
            }
            .navigation-button__downLeft-upRigth {
                background-color: orange;
            }
        }
    }
    
    &__search {
        height: 5vh;
        width: 15vw;
        border-radius: 0 0 0 2vh;
        border: 1vh solid #000;
        background-color: darkred;
        position: absolute;
        top: 0;
        left: 85vw;
        display: flex;
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-top: transparent;
        // cursor: pointer;
        box-shadow: 0.5vw 0.5vw 10px rgba(41, 4, 4, 0.863);
        
        .search {

            &__input {
                height: 3vh;
                width: 10vh;
                border-radius: 0.5vw;
                border: none;
                // margin-top: 1vh;
                // border-radius: 50%;
                color:indianred;
                font-size: 4vh;
                text-align: center;
            }
            
            &__button {
                height: 3vh; 
                border: none;
                background-color: transparent;
                font-size: 3vh;
                text-align: center;
                color: rgb(231, 219, 44);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                cursor: pointer;
                margin: -20px 0.8vw;
                vertical-align: text-bottom;

                // &[value] {margin: auto;}
            }    

            &__tooltip {
                visibility: hidden;
                width: 10vw;
                height: 5vh; 
                background-color: black;
                color: yellow;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 0.9em;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                left: 0px;
                top: 6.75vh;
                z-index: 1;
                opacity: 0;
                transition-timing-function: ease;
                transition: opacity 1s;
                transition-delay: 1s;

                &::after {
                    content: " ";
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent black transparent;
                  }
            }
            
        }
        &:hover {

            .search{
            
                &__button {
                    background-color: orange;
                    color:red;
                    border-radius: 0.5vw;
                }
                
                &__tooltip {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

.detail {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(65, 9, 9, 0.7);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__box {
        background-color: #FFF;
        height: 100vh;
        width: 70vw; 
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        overflow: hidden;
    }

    &__info {
        height: 100%;
        width: 50%;
        margin: auto;
        z-index: 10;
            
        .info {
            &__name {
                height: 8vh;
                max-width: 80vw;
                background-color: darkred;
                color: gold;
                font-size: 4vw;
                text-align: right;
                padding: 0 1vw;
                position: absolute;
                top: -6.5vh;
                right: 15vw;
                border-bottom: solid;
                border-left: solid darkred;
                
                &::after {
                    content: " ";
                    position: absolute;
                    top: 0;
                    right: 100%;
                    height: 8vh;
                    width: 5vw;
                    background-color: darkred;
                    clip-path: polygon(100% 0, 75% 0, 100% 100%);
                }
            }
            
            &__id {
                height: 6vh;
                max-width: 3.75vw;
                background-color: darkred;
                color: orange;
                font-size: 3vw;
                text-align: right;
                padding: 0 1vw;
                border-bottom: solid;
                border-left: solid darkred;
                position: absolute;
                top: 3.5vh;
                right: 15vw;
                
                &::after {
                    content: " ";
                    position: absolute;
                    top: 0;
                    right: 100%;
                    height: 6vh;
                    width: 5vw;
                    // border-style: solid;
                    background-color: darkred;
                    clip-path: polygon(100% 0, 75% 0, 100% 100%);
                }
            }
            
            &__types {                
                text-align: center;            
            }
            
            &__abilities {
                text-align: center;            
            }
        }
    
        h3 {text-align: center;}
    }
    
    &__sprites {
        height: 100%;
        width: 100%;
        
        .sprites {
            
            &__artwork {
                height: 75vh;
                width: 100%;
                background-color: rgb(14, 17, 31);
                // border-radius: 50%;
                display: flex;
                justify-content: center;
                text-align: center;
                
                .artwork{
                    
                    &__image {
                        max-height: 120vmin;
                        max-width: 120vmin;
                        display: block;
                        position:absolute;
                        top: 5%;
                    }

                    &__podium {
                        height: 15vmin;
                        width: 70vmin;
                        border-radius: 50%;
                        background: yellow;
                        position: absolute;
                        bottom: 30%;
                        z-index:0;
                    }
                    
                    &__light {
                        height: 70vmin;
                        width: 115vmin;
                        // border-radius: 50%;
                        // border:2px solid red;
                        background-image:
                            linear-gradient(80deg, rgba(255, 252, 93, 0.842), rgba(255, 252, 93, 0.842) 2%, transparent 35% ),
                            linear-gradient(-80deg, rgba(255, 252, 93, 0.842), rgba(255, 252, 93, 0.842) 2%, transparent 35%, );
                        position: absolute;
                        bottom: 38%;
                        z-index:0;
                        clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
                    }
                }
            }
            
            &__versions {
                height: 25vh;
                width: 70%;
                background-image: repeating-linear-gradient( green, green 0.1vh, transparent 1vh, transparent 2vh),
                    repeating-linear-gradient(90deg, green, green 0.1vh, transparent 1vh, transparent 2vh),
                    repeating-linear-gradient(rgb(24, 24, 26), rgb(24, 24, 26) 5%);
                position: absolute;
                bottom: 0;
                left: 15%;
                display: flex;
                flex-direction: row;
                justify-content: space-around; 
                align-items: center;
                border-top:0.5vh solid red;
                
                .versions__image {
                    height: 80%;
                    width: 18%;
                    padding: 2%;     
                }
            }
        }
    }
    
    &__panel{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: -35%;
        display: flex;
        justify-content: space-between;
        animation: open-panel 2s ease 0s 1 alternate forwards;

        .panel {
            height: 100vh;
            width: 50vw;
            // border: 1vh solid red;
        
            &--right {
            background-image: repeating-linear-gradient(-45deg, red, red 2%, #000 2.01%, #000 4%);
            z-index: 4;
        }
        
        &--left {
            background: palevioletred;               
            background-image: repeating-linear-gradient(45deg, red, red 2%, #000 2.01%, #000 4%);
                z-index:4;
            }
        }
    }

    @keyframes open-panel {
        0% {width: 100%; left:0;}
        100% {width: 170%; left: -35%}
    }
}



// background-image: repeating-linear-gradient(90deg, transparent, transparent 50px,
// rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px,
// rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px,
// rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px),
// repeating-linear-gradient(0deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px,
// rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px,
// rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px,
// rgba(255, 206, 0, 0.25) 166px),
// repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
// rgba(143, 77, 63, 0.25) 10px),
// repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
// rgba(143, 77, 63, 0.25) 10px);