* {
  font-family: monospace;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.back-color {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(orange 5%, darkred 70%, #380c0c);
  position: fixed;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: -1;
}

.back-color__middle {
  height: 10%;
  width: 100vw;
  background-color: #000;
}

.back-color__bottom {
  height: 45%;
  width: 100vw;
  background: radial-gradient(#FFF 5%, #bdbaba 70%);
  border-top: 1vh solid #d8d8d8;
}

.main-title {
  opacity: 0;
  color: darkred;
  font-size: 3em;
}

.pokemon-navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 34.5vh;
}

.pokemon-box {
  height: 175px;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style: none;
}

.pokemon-list {
  height: 200px;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0 20px;
}

.list__image {
  height: 60vh;
  width: 125px;
  border-style: solid;
  border-width: 8px;
  border-radius: 5px;
  background-color: gainsboro;
  border: 5px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column;
    justify-content: center;
    align-items: center;   */
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.list__image:hover {
  height: 60vh;
  width: 175px;
  background-color: gold;
}

.list__image:hover .list__name {
  color: gold;
}

.list__name {
  height: 20px;
  width: 10vw;
  font-size: 1.2em;
  color: red;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}

.list-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: -8px;
}

.pokemon-button {
  height: 175px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.button-icon:hover {
  background-color: goldenrod;
}

.button-icon__upLeft-downRigth {
  height: 20px;
  width: 20px;
  background-color: red;
  -webkit-transform: skewX(40deg);
          transform: skewX(40deg);
}

.button-icon__downLeft-upRigth {
  height: 20px;
  width: 20px;
  background-color: red;
  -webkit-transform: skewX(-40deg);
          transform: skewX(-40deg);
}

.pokemon-detail {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(65, 9, 9, 0.7);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-sprites {
  border-radius: 30px;
  background-color: burlywood;
  height: 90vh;
  max-width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}

.detail-sprites__info {
  height: 100%;
  width: 50%;
  margin: auto;
}

.detail-sprites__info .info__name {
  color: darkred;
  font-size: 4vw;
  text-align: center;
}

.detail-sprites__info .info__types {
  text-align: center;
}

.detail-sprites__info .info__abilities {
  text-align: center;
}

.detail-sprites__info h3 {
  text-align: center;
}

.detail-sprites__sprites-box {
  height: 100%;
  width: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.detail-sprites__sprites-box .sprites-box__artwork {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px), repeating-linear-gradient(0deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px), repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px, rgba(143, 77, 63, 0.25) 10px), repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px, rgba(143, 77, 63, 0.25) 10px);
}

.detail-sprites__sprites-box .sprites-box__artwork .artwork__image {
  max-height: 90%;
  max-width: 90%;
  display: block;
  margin: auto;
}

.detail-sprites__sprites-box .sprites-box__versions {
  width: 100%;
  height: 25%;
  background-image: repeating-linear-gradient(green, green 0.1vh, transparent 1vh, transparent 2vh), repeating-linear-gradient(90deg, green, green 0.1vh, transparent 1vh, transparent 2vh), repeating-linear-gradient(#18181a, #18181a 5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-sprites__sprites-box .sprites-box__versions .versions__image {
  max-height: 100%;
  width: 33.33%;
  padding: 2%;
}

.search {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  border: 1vh solid #000;
  background-color: darkred;
  position: absolute;
  top: 75vh;
  left: 48.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.search__input {
  height: 5vw;
  width: 5vw;
  border: none;
  border-radius: 50%;
  color: indianred;
}

.search__button {
  border: none;
  background-color: transparent;
  color: #e7db2c;
}
/*# sourceMappingURL=style.css.map */